{% extends 'base.html' %}

{% block title %}Alumni{% endblock title %}

{% block body %}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
{% endblock body %}
