{% extends 'base.html' %}

{% block title %}Cadets Corner{% endblock title %}

{% block body %} under progress  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
{% endblock body %}
